.App {
  text-align: center;
}

.Main-menu-title{
  font-size: 32pt;
  background-color: #40ccf3;
  padding: 20px 0 20px 0;
  margin: 0 0 20px 0;
}

.UI-header{
  font-size: 32pt;
  background-color: #40ccf3;
  padding: 20px 20px 20px 20px;
  margin: 0 0 20px 0;
}

.UI-header .Location-title{
  text-align: left;
}

.UI-footer{
  font-size: 32pt;
  background-color: #40ccf3;
  padding: 20px 20px 20px 20px;
  margin: 40px 0 20px 0;
}

.Vertical-buttons{
  display: block;
  text-align: center;
  align-items: center;
}

.Vertical-buttons button{
  margin: 5px;
}

.Grid-container{
  display: grid;
}

.Grid-items-center{
  justify-content: center;
  align-content: center;
  text-align: center;
}

.Center-page{
  margin: auto auto;
}

.Wonder-title{
  text-align: center;
  font-size: 32px;
}

.Hidden{
  display: hidden;
}
