.App {
  text-align: center;
}

.Main-menu-title{
  font-size: 32pt;
  background-color: #40ccf3;
  padding: 20px 0 20px 0;
  margin: 0 0 20px 0;
}

.UI-header{
  font-size: 32pt;
  background-color: #40ccf3;
  padding: 20px 20px 20px 20px;
  margin: 0 0 20px 0;
}

.UI-header .Location-title{
  text-align: left;
}

.UI-footer{
  font-size: 32pt;
  background-color: #40ccf3;
  padding: 20px 20px 20px 20px;
  margin: 40px 0 20px 0;
}

.Vertical-buttons{
  display: block;
  text-align: center;
  align-items: center;
}

.Vertical-buttons button{
  margin: 5px;
}

.Grid-container{
  display: grid;
  text-align: center;
}

/*OOOOO
  OOOOO
  OOOOO*/
.Grid-container.Hex-layout{
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;
}

/*OXOOO
  OOOOO
  OOOOO*/
.Hex-layout-item1{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row: 1;
}

/*OOOXO
  OOOOO
  OOOOO*/
.Hex-layout-item2{
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row: 1;
}

/*OOOOO
  XOOOO
  OOOOO*/
.Hex-layout-item3{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row: 2;
}

/*OOOOO
  OOXOO
  OOOOO*/
.Hex-layout-item4{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row: 2;
}

/*OOOOO
  OOOOX
  OOOOO*/
.Hex-layout-item5{
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row: 2;
}

/*OOOOO
  OOOOO
  OXOOO*/
.Hex-layout-item6{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row: 3;
}

/*OOOOO
  OOOOO
  OOOXO*/
.Hex-layout-item7{
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row: 3;
}

.Grid-item-center{
  justify-content: center;
  align-content: center;
  text-align: center;
}

.Center-page{
  margin: auto auto;
}

.Wonder-title{
  text-align: inherit;
  font-size: 32px;
}

.Site-title{
  text-align: inherit;
  font-size: 24px;
}

.Hidden{
  display: hidden;
}
